  # --- General Project Details ---
  SOLUTION_FILE=YourSolutionName.slnx
  OUTPUT_DIR=dist

  # --- Scenario=Configure for an Executable Application (for Velopack) ---
  # If this is a class library, leave PROJECT_TO_PUBLISH blank.
  PROJECT_TO_PUBLISH=Your.Project.Name/Your.Project.Name.csproj # relative to src
  PROJECT_TO_PACK=Your.Project.Name # relative to src
  RID=win-x64 # (e.g., win-x64, linux-x64, osx-arm64)
  APP_NAME=sampleApp
  APP_VERSION=1.0.0
  COMPANY_NAME='henry-js'
  ICON_PATH='assets/icon.ico'